<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <p> Email: xyz********@gmail.com </p>
    <p> Mobile no: +91 ********** </p>
    <p>Address: ******** ********** **********</p>
<%- include("partials/footer"); -%>
